<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homework" >
	<insert id="write" parameterType="homework.model.pojo.HomeworkPojo" >
		insert into homework values(HOMEWORK_SEQ.nextval, #{title}, #{writer},
		 #{content }, sysdate, 0, #{adminLevel }, 0, '', '' , '', #{output }, #{input }, #{className}, #{methodName}, '' ) 
	</insert>
	<select id="currval" resultType="java.lang.Integer" >
		select HOMEWORK_SEQ.CURRVAL from dual
	</select>
	<select id="list" resultType="java.util.HashMap" >
		select NUM, TITLE, WRITEDATE from homework order by NUM desc
	</select>
	<select id="read" resultType="homework.model.pojo.HomeworkPojo" >
		select * from homework where num=#{num }
	</select>
	<update id="update" parameterType="homework.model.pojo.HomeworkPojo" >
		update homework set title=#{title}, content=#{content }, writeDate=sysdate,
		 click=0, adminlevel=#{adminLevel }, studentlevel=0, correctRate='', answer=#{answer },
		 source=#{source}, output=#{output }, input=#{input }, className=#{className }, methodName=#{methodName }
		 where num=#{num }
	</update>
	<update id="updateStudentLevel" parameterType="java.util.HashMap" >
		update homework set studentLevel=#{level } where num=#{num }
	</update>
	<update id="modiAnswer">
		update homework set answer=#{answer } where num=#{num }
	</update>
	<update id="modiSource">
		update homework set source=#{source } where num=#{num }
	</update>
	<delete id="delete" >
		delete from homework where num=#{num }
	</delete>
</mapper>