<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="video">
	<insert id="upload" parameterType="java.util.HashMap">
		insert into video values (video_seq.nextval,#{title},#{id},sysdate,0,#{fileuuid},#{filename},#{content})
	</insert>
	
	<select id="list" resultType="java.util.HashMap">
		select * from video
	</select>

</mapper>