@CHARSET "EUC-KR";

footer{
	height: 2em;
	text-align: center;
	background-color: #f8f8f8;
	margin-top: 20px;
	padding-top: 5px;
}
.clearfix{
	clear: both;
}
div{
	margin: 0px;
	padding: 5px;
}


#problemView{
	width : inherit;
	height: 300px;
	
}
#consoleView{
	width : 500px;
	height: 100px;
	background-color: #FAECC5;
}

#rankView{
	width : inherit;
	height: 200px;
	background-color: #E4F7BA;
}
.examSection{
	width : 300px;
	height: 200px;
}
.headline{
	width : 253px;
	height : 20px;
	background-color: #dfdfdf;
}
.examPre{
	width : auto;
	height : 150px;
	background-color: #efefef;
}
.correct{
	color : blue;
}
.incorrect{
	color : red;
}